<div style="font-family: 'HK Grotesk', sans-serif; background-color: #f6f6f5; padding: 20px;">
    <div style="padding: 24px 32px;">
        <h1 style="font-weight: 700;">NepSewa</h1>
    </div>
    <div style="padding: 20px 32px; background-color: #ffffff;">
        <h2 style="font-size: 24px;">Welcome, {{userName}}!</h2>
        <p style="margin-top: 20px; margin-bottom: 24px; line-height: 1.5; text-align: justify;">
            Congratulations! You just created a new account.
        </p>
        <p style="margin-top: 20px; margin-bottom: 24px; line-height: 1.5; text-align: justify;">
            Before we let you into the cockpit, consider that this is a project, not an actual government site.
        </p>
        <a href="#" style="background: #64d068; color: #ffffff; padding: 10px; border-radius: 5px; text-decoration: none; display: inline-block;">Explore More</a>
        <p style="margin-top: 20px; margin-bottom: 24px; line-height: 1.5; text-align: justify;">
            If you don't know why you got this email, please get in touch with us here.
        </p>
        <p style="margin-top: 20px; margin-bottom: 24px; line-height: 1.5; text-align: justify;">
            Best regards,<br />NepSewa
        </p>
    </div>
    <div style="padding: 20px 32px; background-color: #000000; color: #ffffff; font-size: 14px; font-weight: 300;">
        <p style="margin: 0;">
            This email was sent to <a href="mailto:email@email.com" style="color: #ffffff; text-decoration: underline;">email@email.com</a>. If you’d rather not receive this kind of email, you can <a href="#" style="color: #ffffff; text-decoration: underline;">unsubscribe</a> or <a href="#" style="color: #ffffff; text-decoration: underline;">manage your email preferences</a>.
        </p>
        <p style="margin: 0;">Butwal Rupandehi - Nepal</p>
    </div>
</div>
